<a href="https://colab.research.google.com/github/MadhuraTonpe165/Assignments/blob/main/Time_Series_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing Important Lbraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Creating a sample time series data
date_range = pd.date_range(start = '1/1/2020' , periods = 100, freq = 'D')
data = np.random.randn(100)
time_series = pd.Series(data, index = date_range)
time_series.head()

2020-01-01    1.165666
2020-01-02    0.652300
2020-01-03   -0.484385
2020-01-04    2.171097
2020-01-05    0.325060
Freq: D, dtype: float64

In [3]:
from datetime import time
# Dealing with missing values

time_series_with_nan = time_series.copy()
time_series_with_nan[::10] = np.nan
time_series_with_nan.head(50)

2020-01-01         NaN
2020-01-02    0.652300
2020-01-03   -0.484385
2020-01-04    2.171097
2020-01-05    0.325060
2020-01-06    2.783413
2020-01-07    1.285502
2020-01-08   -1.622382
2020-01-09   -0.977517
2020-01-10    0.778867
2020-01-11         NaN
2020-01-12    0.379789
2020-01-13   -1.362829
2020-01-14   -0.157955
2020-01-15    0.976401
2020-01-16   -1.326057
2020-01-17    1.561093
2020-01-18   -1.466327
2020-01-19    1.978689
2020-01-20    0.425295
2020-01-21         NaN
2020-01-22    1.730128
2020-01-23   -0.736800
2020-01-24   -0.056259
2020-01-25   -1.227677
2020-01-26    1.288864
2020-01-27    0.470818
2020-01-28   -0.497193
2020-01-29   -0.888967
2020-01-30   -0.106796
2020-01-31         NaN
2020-02-01    0.116246
2020-02-02    0.225635
2020-02-03   -0.759273
2020-02-04    1.201513
2020-02-05    1.817094
2020-02-06   -0.707016
2020-02-07   -1.155536
2020-02-08   -0.390891
2020-02-09   -1.838618
2020-02-10         NaN
2020-02-11   -1.120851
2020-02-12    0.616258
2020-02-13    0.707601
2020-02-14   -0.398276
2020-02-15    1.564236
2020-02-16    0.835503
2020-02-17    0.026684
2020-02-18   -1.617636
2020-02-19   -0.261206
Freq: D, dtype: float64

In [4]:
# Forward Filling Method
time_series_forward = time_series_with_nan.fillna(method = 'ffill')
time_series_forward.head(50)

2020-01-01         NaN
2020-01-02    0.652300
2020-01-03   -0.484385
2020-01-04    2.171097
2020-01-05    0.325060
2020-01-06    2.783413
2020-01-07    1.285502
2020-01-08   -1.622382
2020-01-09   -0.977517
2020-01-10    0.778867
2020-01-11    0.778867
2020-01-12    0.379789
2020-01-13   -1.362829
2020-01-14   -0.157955
2020-01-15    0.976401
2020-01-16   -1.326057
2020-01-17    1.561093
2020-01-18   -1.466327
2020-01-19    1.978689
2020-01-20    0.425295
2020-01-21    0.425295
2020-01-22    1.730128
2020-01-23   -0.736800
2020-01-24   -0.056259
2020-01-25   -1.227677
2020-01-26    1.288864
2020-01-27    0.470818
2020-01-28   -0.497193
2020-01-29   -0.888967
2020-01-30   -0.106796
2020-01-31   -0.106796
2020-02-01    0.116246
2020-02-02    0.225635
2020-02-03   -0.759273
2020-02-04    1.201513
2020-02-05    1.817094
2020-02-06   -0.707016
2020-02-07   -1.155536
2020-02-08   -0.390891
2020-02-09   -1.838618
2020-02-10   -1.838618
2020-02-11   -1.120851
2020-02-12    0.616258
2020-02-13    0.707601
2020-02-14   -0.398276
2020-02-15    1.564236
2020-02-16    0.835503
2020-02-17    0.026684
2020-02-18   -1.617636
2020-02-19   -0.261206
Freq: D, dtype: float64